@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  background-image: url("../images/bg.gif");
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
}

.header__title {
  margin-top: 16px;
  margin-bottom: 50px;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  text-shadow: -0.01em 0.02em #000;
  color: #444;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.js-item-hovered > .nav__subLs {
  display: block;
}

.container {
  max-width: 800px;
}

.nav__ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 0.2em solid #990000;
  border-radius: 15px 0 15px 0;
  background-image: url("../images/nav_bg.gif");
  background-repeat: repeat-x;
}

.nav__item {
  position: relative;
  color: #333;
  font-size: 15px;
}

.nav__item + .nav__item {
  border-left: 1px solid #ABABAB;
}

.nav__subLs {
  position: absolute;
  top: 100%;
  left: 1px;
  width: 180px;
  background-color: #eee;
  -webkit-box-shadow: 4px 4px #000;
          box-shadow: 4px 4px #000;
  display: none;
}

.nav__subItem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 97.8%;
  color: #333;
}

.nav__subItem:hover {
  background-color: #990000;
}

.nav__subItem:hover .nav__subLink::before {
  content: '';
  padding-left: 1px;
  padding-right: 6px;
  background-image: url(../images/sub-arrow.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

.nav__link {
  padding: 10px 16px;
  display: inline-block;
}

.nav__subLink {
  padding-bottom: 6px;
  padding-left: 8px;
  padding-top: 6px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}
